<template>
  <section id="home" class="relative">
    <div class="container px-5 md:px-0 md:mx-auto pt-10">
      <div class="flex flex-col md:flex-row items-center md:gap-x-16 z-20">
        <div
          class="w-full md:w-1/2 relative animate__animated animate__bounceInLeft"
        >
          <div
            class="w-40 h-40 bg-primary absolute top-16 -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
          ></div>
          <div
            class="w-40 h-40 bg-primary absolute left-64 md:left-[36rem] -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
          ></div>
          <h1 class="text-4xl lg:text-7xl font-[600] mb-6 md:mb-6">
            Wujudkan <span class="text-primary">Mimpi</span> <br />
            Anak Bangsa
          </h1>
          <p class="text-gray-400 font-light text-base mb-6 lg:text-lg md:mb-6">
            Mari berpartisipasi untuk wujudkan bangsa yang maju.<br />
            Sedikit bantuan mu membantu Indonesia untuk maju
          </p>
          <router-link
            to="/campaigns"
            class="bg-primary rounded-md px-2 py-3 md:px-4 md:py-3 text-white font-bold hover:opacity-80"
          >
            Temukan Campaign
          </router-link>
        </div>
        <div
          class="p-10 md:p-0 md:w-1/2 relative animate__animated animate__bounceInRight"
        >
          <div
            class="w-40 h-40 bg-primary absolute left-44 top-20 -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
          ></div>
          <div
            class="shadow-2xl absolute z-20 bg-white p-3 -left-0 top-36 md:-left-10 lg:left-32 lg:top-52"
          >
            <div class="flex items-center gap-x-2">
              <span class="text-primary font-[800] text-xl">70+ </span>
              <p class="font-medium text-md">Active <br />Campaign</p>
            </div>
          </div>
          <div
            class="shadow-2xl absolute z-20 bg-white p-3 right-1 top-80 md:top-64 md:-right-5 lg:right-0 lg:top-96"
          >
            <div class="flex items-center gap-x-2">
              <span class="text-primary font-[800] text-xl">99+ </span>
              <p class="font-medium text-md">Transaction <br />Campaign</p>
            </div>
          </div>
          <div class="md:flex md:justify-end">
            <img src="../../assets/images/user.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "HeroComponent",
}
</script>

<style></style>
