<template>
  <section id="testimoni" class="py-10 relative">
    <div
      class="w-40 h-40 bg-primary absolute left-1/2 -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
    ></div>
    <h2 class="text-center text-3xl text-primary font-semibold capitalize">
      TESTIMONI
    </h2>
    <div class="container mt-10 w-3/5">
      <swiper
        :slidesPerView="1"
        space-between="30"
        :modules="modules"
        :autoplay="{
          delay: 2000,
          disableOnInteraction: false,
        }"
        :breakpoints="{
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        }"
        class="mySwiper"
      >
        <swiper-slide
          v-for="user in isiTestimoni"
          :key="user.name"
          class="mb-10"
        >
          <div
            class="max-w-md bg-white border border-gray-200 rounded-lg shadow-lg p-4"
          >
            <img :src="user.image" alt="" class="w-1/2 h-30 mx-auto" />
            <div class="card-content text-center pb-5">
              <a href="#">
                <h5
                  class="font-semibold tracking-tight text-primary text-lg mb-3"
                >
                  {{ user.name }}
                </h5>
              </a>
              <p class="mb-2 font-normal text-gray-400 text-sm">
                {{ user.value }}
              </p>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue"
import "swiper/css"

import "swiper/css/pagination"
import "swiper/css/navigation"

import { Pagination, Navigation, Autoplay } from "swiper/modules"

import Testimonial1 from "../../assets/images/testimonials/1.png"
import Testimonial2 from "../../assets/images/testimonials/2.png"
import Testimonial3 from "../../assets/images/testimonials/3.png"
import Testimonial4 from "../../assets/images/testimonials/4.png"

export default {
  name: "Testimonials",
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    return {
      modules: [Autoplay, Pagination, Navigation],
    }
  },
  data() {
    return {
      isiTestimoni: [
        {
          name: "Adpilot",
          value:
            "“ 3Funding membantu Adpilot mencapai dana yang dibutuhkan untuk project Robot Pendeteksi DBD. “",
          image: Testimonial1,
        },
        {
          name: "Datagochi",
          value:
            "“ 3Funding platform luas dengan sistem tranksaksi yang sangat aman. Membantu mengembangkan kreativitas mahasiswa Indonesia, Terimakasih. “",
          image: Testimonial2,
        },
        {
          name: "Fbot",
          value:
            "“ 3Funding platform luas dengan sistem tranksaksi yang sangat aman. Membantu mengembangkan kreativitas mahasiswa Indonesia, Terimakasih. “",
          image: Testimonial3,
        },
        {
          name: "TechMap",
          value:
            "“ 3Funding membantu kemajuan anak bangsa dengan mendukung inovasi mereka. 3Funding jaya jaya jaya...“",
          image: Testimonial4,
        },
      ],
    }
  },
}
</script>

<style></style>
