<template>
  <section id="whyme" class="bg-primary py-10">
    <h1
      class="text-center text-2xl md:text-3xl text-white font-bold capitalize mb-3"
    >
      KENAPA MEMILIH KAMI?
    </h1>
    <div class="container pt-5">
      <div class="flex flex-col md:flex-row md:flex-wrap">
        <div class="md:w-1/2 px-5 pb-5" v-for="item in whyMe" :key="item.name">
          <div class="bg-white rounded-full flex flex-row">
            <img :src="item.image" alt="" class="sm:w-1/5 md:w-1/3 lg:w-1/4" />
            <div
              class="text-kelebihan flex justify-center flex-col px-5 md:py-2 lg:py-0"
            >
              <h5 class="text-xl lg:text-2xl font-bold">{{ item.title }}</h5>
              <p class="text-sm lg:text-base text-gray-400">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import keamananImage from "../../assets/images/whyme/1.png"
import pembayaranImage from "../../assets/images/whyme/2.png"
import jangkauanImage from "../../assets/images/whyme/3.png"
import pelayananImage from "../../assets/images/whyme/4.png"
export default {
  name: "WhyMe",
  data() {
    return {
      whyMe: [
        {
          title: "Keamanan Transaksi",
          description:
            "Setiap tranksaksi dapat dipantau oleh semua user secara realtime.",
          image: keamananImage,
        },
        {
          title: "Pembayaran Otomatis",
          description:
            "Sistem pembayaran terintegerasi langsung oleh payment gateway.",
          image: pembayaranImage,
        },
        {
          title: "Jangkauan Luas",
          description:
            "3Funding dapat diakses oleh seluruh user di seluruh dunia.",
          image: jangkauanImage,
        },
        {
          title: "Pelayanan 24 Jam",
          description: "User dapat melaporkan keluhan yang dialami kapanpun.",
          image: pelayananImage,
        },
      ],
    }
  },
}
</script>

<style></style>
