<template>
  <section id="campaign">
    <div class="container py-10">
      <section id="campaigns" class="py-7">
        <div
          class="w-full py-10 flex flex-wrap"
          v-if="!loading && allCampaigns.length > 0"
        >
          <div
            v-for="campaign in campaignData"
            :key="campaign.id"
            class="w-full mb-5 md:w-1/2 lg:w-1/4 px-5"
          >
            <router-link :to="`perkembangan-campaigns/${campaign.id}`">
              <div
                class="bg-white border border-gray-200 rounded-lg shadow overflow-hidden"
              >
                <img
                  :src="
                    'https://3funding.ajakjago.com/storage/' + campaign.banner
                  "
                  alt=""
                  class="w-full max-h-56 h-56"
                />
                <div class="card-content p-6">
                  <a href="#">
                    <h5
                      class="mb-1 font-semibold tracking-tight text-gray-900 text-lg"
                    >
                      {{ campaign.judul_campain }}
                    </h5>
                  </a>
                  <p class="mb-2 font-normal text-gray-400 text-sm">
                    {{ campaign.user.name }}
                  </p>
                  <div>
                    <span
                      class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                      >{{ campaign.status }}</span
                    >
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
        <div
          class="flex justify-center"
          v-else-if="!loading && allCampaigns.length === 0"
        >
          <h1 class="text-center font-medium text-2xl mt-4">
            Campaign Tidak Ditemukan
          </h1>
        </div>

        <div class="flex flex-wrap" v-else>
          <div
            role="status"
            class="w-full md:w-1/2 lg:w-1/4 p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 dark:border-gray-700"
            v-for="i in 4"
            :key="i"
          >
            <div
              class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded dark:bg-gray-700"
            >
              <svg
                class="w-10 h-10 text-gray-200 dark:text-gray-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 20"
              >
                <path
                  d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"
                />
                <path
                  d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"
                />
              </svg>
            </div>
            <div
              class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
            ></div>
            <div
              class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"
            ></div>
            <div
              class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"
            ></div>
            <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            <div class="flex items-center mt-4 space-x-3">
              <svg
                class="w-10 h-10 text-gray-200 dark:text-gray-700"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                />
              </svg>
              <div>
                <div
                  class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2"
                ></div>
                <div
                  class="w-48 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
import CampaignCard from "./Campaign/CampaignCard.vue"
import axios from "axios"
import moment from "moment"

export default {
  components: {
    CampaignCard,
  },
  data() {
    return {
      allCampaigns: [],
      keySearch: "",
      loading: true,
      sortby: "terbaru",
      campaignData: {},
    }
  },
  mounted() {
    this.getDataCampaigns()
    this.getCampaign()
  },
  methods: {
    async getDataCampaigns() {
      try {
        const data = await axios.get(
          "https://3funding.ajakjago.com/api/campains"
        )
        this.allCampaigns = data.data.data
      } catch (error) {
        console.error(error)
      } finally {
        this.loading = false
      }
    },
    async getCampaign() {
      const response = await axios.get(
        "https://3funding.ajakjago.com/api/req-campains"
      )
      this.campaignData = response.data.data
      this.campaignData = this.campaignData.filter((e) => {
        return e.status === "Closed"
      })
    },
    sortCampaign(val) {
      if (val === "terbaru") {
        this.allCampaigns = this.allCampaigns.sort((a, b) => {
          return new Date(moment(b.created_at)) - new Date(moment(a.created_at))
        })
      } else if (val === "pendapatan") {
        this.allCampaigns = this.allCampaigns.sort((a, b) => {
          return b.total_nominal_donatur - a.total_nominal_donatur
        })
      } else if (val === "waktu") {
        this.allCampaigns = this.allCampaigns.sort((a, b) => {
          return new Date(a.end_date_camp) - new Date(b.end_date_camp)
        })
      }
    },
  },
  watch: {
    keySearch: function () {
      this.updateSearch(this.keySearch)
    },
    sortby: function () {
      this.sortCampaign(this.sortby)
    },
  },
}
</script>

<style></style>
