<template>
  <div class="w-full px-5 md:px-0">
    <div class="bg-white overflow-hidden p-5">
      <h1
        class="text-center text-2xl font-semibold bg-primary p-3 text-white rounded-lg"
      >
        Update Terbaru :
      </h1>
      <div
        class="bg-white border border-gray-100 rounded-lg shadow overflow-hidden p-5 my-3"
        v-for="berita in dataBerita"
        :key="berita.judul"
      >
        <div class="flex items-center gap-x-3">
          <img :src="iconUser" class="w-16 h-16" alt="" />
          <div>
            <p class="font-semibold text-lg" v-if="campaign.user">
              {{ campaign.user.name }}
            </p>
            <p class="font-semibold text-lg" v-else>Loading...</p>
            <p class="text-sm text-gray-400">{{ berita.tanggal }}</p>
          </div>
        </div>
        <div id="content">
          <div
            class="bg-white border border-gray-100 rounded-lg shadow overflow-hidden p-5 my-3 max-w-xl"
          >
            <img :src="berita.gambar" alt="" />
          </div>
          <h3 class="text-lg font-semibold">
            {{ berita.judul }}
          </h3>
          <p class="text-sm text-gray-400 my-2">
            {{ berita.deskripsi }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from "vue-router"
import iconUser from "../../assets/images/tentangkami/logo_user.png"
import dataBerita from "../../data/perkembanganCampaign.json"

export default {
  data() {
    return {
      iconUser,
      dataBerita,
    }
  },
  props: {
    campaign: {
      type: Object,
      required: true,
    },
  },
  beforeMount() {
    this.dataBerita = this.dataBerita.filter((data) => {
      return data.id == useRoute().params.id
    })
    this.dataBerita = this.dataBerita[0].perkembangan
  },
}
</script>

<style></style>
