<template>
  <div class="w-full lg:w-3/4 px-5 md:px-0">
    <div v-if="campaign.judul_campain != null">
      <h1 class="text-3xl md:text-4xl font-medium">
        {{ campaign ? campaign.judul_campain : "Loading..." }}
      </h1>

      <div class="description mt-3">
        <p class="font-light text-sm md:text-base">
          {{ campaign ? campaign.deskripsi : "Loading..." }}
        </p>
      </div>
    </div>
    <div role="status" class="max-w-sm animate-pulse" v-else>
      <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full"></div>
    </div>
  </div>
</template>

<script>
import iconTime from "../../assets/images/time.png"
import targetIcon from "../../assets/images/detailcampaign/target_icon.png"
import iconUser from "../../assets/images/tentangkami/logo_user.png"

export default {
  props: {
    campaign: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      iconTime,
      targetIcon,
      iconUser,
    }
  },
}
</script>

<style></style>
