<template>
  <NavbarComponent></NavbarComponent>
  <Hero></Hero>
  <Campaign></Campaign>
  <Footer></Footer>
</template>

<script>
import Hero from "../components/AllCampaign/Hero.vue"
import Campaign from "../components/AllCampaign/Campaign.vue"

export default {
  components: {
    Hero,
    Campaign,
  },
}
</script>

<style></style>
