<template>
  <div class="w-full h-[100vh] flex items-center justify-center">
    <div v-if="!dataTransaction">
      <p>Loading...</p>
    </div>
    <div
      class="container p-6 bg-white border border-gray-200 rounded-lg shadow"
      v-else
    >
      <div class="flex justify-between items-center">
        <img :src="logoMain" alt="" />
        <h2 class="text-2xl font-semibold">Invoice</h2>
      </div>
      <hr class="h-px my-4 bg-gray-200 border-0" />
      <div class="flex justify-between items-center text-xl">
        <p class="font-semibold">
          Date :
          <span class="font-normal">{{
            moment(dataTransaction.data.created_at).format("DD-MM-YYYY")
          }}</span>
        </p>
        <p class="font-semibold">
          Invoice No :
          <span class="font-normal">#3FUND-{{ dataTransaction.data.id }}</span>
        </p>
      </div>
      <hr class="h-px my-4 bg-gray-200 border-0" />
      <p class="text-xl font-semibold">Invoiced To:</p>
      <p class="text-lg font-light">
        {{ dataTransaction.campaign.title_campains }}
      </p>
      <p class="text-sm font-light">
        {{ dataTransaction.campaign.deskripsi }}
      </p>

      <div class="relative overflow-x-auto mt-5 text-lg">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3 rounded-l-lg">Nama</th>
              <th scope="col" class="px-6 py-3">Nominal</th>
              <th scope="col" class="px-6 py-3 rounded-r-lg">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
              >
                {{ dataTransaction.data.nama_donatur }}
              </th>
              <td class="px-6 py-4">
                Rp. {{ dataTransaction.data.nominal_donatur }}
              </td>
              <td class="px-6 py-4">
                <span
                  class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                  >{{ dataTransaction.data.status_payment }}</span
                >
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="font-semibold text-gray-900">
              <th scope="row" class="px-6 py-3 text-base">Total</th>
              <td class="px-6 py-3"></td>
              <td class="px-6 py-3">
                Rp. {{ dataTransaction.data.nominal_donatur }}
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="flex justify-center my-4">
          <div id="snap-container"></div>
        </div>
        <div class="flex justify-center mt-4">
          <button
            @click="handleFund"
            type="button"
            class="focus:outline-none text-white bg-primary hover:opacity-80 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-8 py-4 mr-2 mb-2"
          >
            Bayar Sekarang
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import logoMain from "../assets/images/logo3Funding.png"
import { useRoute } from "vue-router"
import Swal from "sweetalert2"
import moment from "moment"

export default {
  data() {
    return {
      logoMain,
      dataTransaction: {},
      moment: moment,
    }
  },
  async created() {
    await this.getDataTransaction()
    if (
      this.dataTransaction.data.token_transaction !=
        localStorage.getItem("token_transaction") ||
      this.dataTransaction.data.status_payment == "Success"
    ) {
      this.$router.push("/")
    }
  },
  methods: {
    async getDataTransaction() {
      const id = useRoute().params.id
      const dataTransaction = await axios.get(
        "https://3funding.ajakjago.com/api/transactions/" + id
      )
      this.dataTransaction = dataTransaction.data
    },
    handleFund() {
      const self = this
      const idCampaign = this.dataTransaction.campaign.id
      window.snap.embed(this.dataTransaction.data.token_transaction, {
        embedId: "snap-container",
        onSuccess: function (result) {
          // const transactionSuccess = await axios.put(
          //   "https://3funding.ajakjago.com/api/transactions/" +
          //     useRoute().params.id,
          //   {
          //     payment_method: result.payment_type,
          //     status_payment: "Success",
          //   }
          // )
          // if (transactionSuccess.status == 200) {
          Swal.fire({
            title: "Success!",
            text: "Donasi anda berhasil terkirim!!",
            icon: "success",
            confirmButtonText: "OK",
          })
          self.$router.push("/campaign/" + idCampaign)
          // }
        },
        onPending: function (result) {
          Swal.fire({
            title: "Peringatan!",
            text: "Segera Selesaikan Pembayaran Anda!!",
            icon: "warning",
            confirmButtonText: "OK",
          })
        },
        onError: function (result) {
          Swal.fire({
            title: "Gagal!",
            text: "Pembayaran gagal!!",
            icon: "danger",
            confirmButtonText: "OK",
          })
        },
        onClose: function () {
          alert("you closed the popup without finishing the payment")
        },
      })
    },
  },
}
</script>

<style></style>
