<template>
  <NavbarComponent></NavbarComponent>
  <Hero></Hero>
  <FormContact></FormContact>
  <Footer></Footer>
</template>

<script>
import Hero from "../components/Contact/Hero.vue"
import FormContact from "../components/Contact/FormContact.vue"

export default {
  components: {
    Hero,
    FormContact,
  },
}
</script>

<style></style>
