<template>
  <NavbarComponent></NavbarComponent>
  <section id="detail-campaign" class="py-10">
    <div
      class="container flex flex-wrap lg:flex-nowrap lg:gap-x-5 gap-y-5 lg:gap-y-0"
    >
      <ImageCard :campaign="dataCampaign"></ImageCard>
      <Owner :campaign="dataCampaign"></Owner>
    </div>
    <div
      class="container flex flex-wrap lg:flex-nowrap lg:gap-x-5 gap-y-5 lg:gap-y-0 py-10"
    >
      <Description :campaign="dataCampaign"></Description>
      <HistoryTransaction
        :campaign="dataCampaign"
        @refreshdata="refreshCampaign"
      ></HistoryTransaction>
    </div>
  </section>
  <Footer></Footer>
</template>

<script>
import { useRoute } from "vue-router"
import ImageCard from "../components/DetailCampaign/ImageCard.vue"
import Owner from "../components/DetailCampaign/Owner.vue"
import Description from "../components/DetailCampaign/Description.vue"
import HistoryTransaction from "../components/DetailCampaign/HistoryTransaction.vue"
import axios from "axios"

export default {
  data() {
    return {
      campaign: {},
      dataCampaign: {},
      id: null,
    }
  },
  components: {
    ImageCard,
    Owner,
    Description,
    HistoryTransaction,
  },
  beforeMount() {
    this.id = useRoute().params.id
  },
  async mounted() {
    await this.getCampaign()
  },
  methods: {
    async getCampaign(page) {
      const data = await axios.get(
        "https://3funding.ajakjago.com/api/campain/" + this.id + "?page=" + page
      )
      this.dataCampaign = data.data.data
    },
    refreshCampaign(page) {
      this.getCampaign(page)
    },
  },
}
</script>

<style></style>
