<template>
  <section id="form-pendaftaran" class="flex flex-wrap md:flex-nowrap">
    <div
      class="md:w-1/2 bg-blue-600 md:min-h-[100vh] flex flex-col items-center justify-center p-4"
    >
      <img
        :src="headerPendaftaran"
        alt="headerAnimate"
        class="w-3/4 md:w-full lg:w-3/4"
      />
      <h3 class="text-white font-semibold text-xl md:text-2xl lg:text-4xl mb-2">
        Daftarkan Campaignmu
      </h3>
      <p class="font-light text-white mb-2">
        Daftarkan campaignmu dan tunggu konfirmasi dari kami
        <span class="text-red-600 mb-5 font-medium">maksimal 2 x 24 jam</span>
      </p>
      <button
        class="bg-orange-400 p-3 rounded-3xl mb-2 mt-3 px-6 text-white"
        @click="actionGuideBook"
      >
        Lihat Guidebook
      </button>
    </div>

    <div
      class="w-full md:w-1/2 md:min-h-[100vh] py-10 md:py-0 flex flex-col justify-center items-center"
    >
      <div class="w-full px-5 md:px-0 md:w-3/4">
        <form @submit.prevent="handleSubmit">
          <div class="mb-8 flex justify-center">
            <h1
              class="text-blue-500 font-semibold text-2xl text-center lg:text-3xl"
            >
              3FUNDING | PENDAFATARAN CAMPAIGN
            </h1>
          </div>
          <div class="mb-6">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Email :</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Email"
              v-model="formBody.email"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Password :</label
            >
            <input
              type="password"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Passoword"
              v-model="formBody.password"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Konfirmasi Password :</label
            >
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Passoword"
              v-model="formBody.confirmPassword"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="team"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Nama Team :</label
            >
            <input
              type="text"
              id="team"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Nama Team"
              v-model="formBody.name"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="nohp"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Nomer HP :</label
            >
            <input
              type="text"
              id="nohp"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Institusi"
              v-model="formBody.nohp"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="institusi"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Institusi :</label
            >
            <input
              type="text"
              id="institusi"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-primary focus:border-primary block w-full p-2.5 py-4"
              placeholder="Masukkan Institusi"
              v-model="formBody.institusi"
              required
            />
          </div>

          <div class="flex justify-between items-center">
            <div class="font-medium text-gray-500">
              Sudah punya akun?
              <router-link to="/login" class="text-blue-600 hover:underline"
                >Login Sekarang</router-link
              >
            </div>
            <button
              type="submit"
              class="text-white bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-12 py-4 text-center hover:opacity-80"
            >
              Daftarkan
            </button>
          </div>
        </form>
        <div
          id="defaultModal"
          tabindex="-1"
          aria-hidden="true"
          :class="{ hidden: showGuideBook === false }"
          class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0"
        >
          <div class="relative w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded-lg shadow">
              <div
                class="flex items-start bg-primary justify-between p-4 border-b rounded-t"
              >
                <h3 class="text-xl font-semibold text-white">Guidebook</h3>
                <button
                  type="button"
                  @click="actionGuideBook"
                  class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                  data-modal-hide="defaultModal"
                >
                  <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                </button>
              </div>
              <div class="p-6 space-y-6">
                <ol
                  class="space-y-3 text-gray-500 list-decimal list-inside dark:text-gray-400"
                >
                  <li>
                    Pengguna masuk ke halaman Website 3Funding. Jika ingin
                    mendaftarkan campaign Produk Inovasi mereka, Pilih fitur
                    Ajukan Campaign pada navbar.
                  </li>
                  <li>
                    Lalu akan diarahkan pada halaman register, perlu diketahui
                    bahwa saat pengajuan Campaign, User harus terlebih dahulu
                    memiliki akun pada website 3Funding. Jika user sudah
                    memiliki akun, maka bisa pilih Login Sekarang
                  </li>
                  <li>
                    Jika sudah melakukan login, user akan diarahkan menuju User
                    Panel, dimana ada beberapa macam fitur yang ada , mulai dari
                    dashboard untuk melihat berbagai statistik, total campaign
                    user, total pemasukan dari campaign user yang sudah mulai di
                    publish, serta transaction
                  </li>
                  <li>
                    Jika User ingin mengajukan campaign untuk produk mereka,
                    maka pilih menu campaign pada sidebar, lalu klik ajukan
                    campaign
                  </li>
                  <li>
                    User akan diarahkan ke form pengajuan campaign. User wajib
                    mengisi semua field yang ada di form untuk melakukan
                    pengajuan campaign
                  </li>
                  <li>
                    Jika sudah, maka request campaign akan tampil pada halaman
                    campaign, nantinya dari admin 3Funding akan melakukan
                    pengecekan terkait berkas-berkas. Ada beberapa status yang
                    ada di pengajuan campaign yaitu Proses Verifikasi, Seleksi
                    Wawancara, Published,Proses Pencairan, Closed. Dimana
                    nantinya akan dilakukan pengecekan, ada beberapa tahapan
                    yang harus diikuti oleh user yang mengajukan campaign mulai
                    dari Verifikasi Berkas dan Wawancara. Nantinya status akan
                    terupdate seiring dilalui nya tahapan pengajuan. Jika status
                    campaign pengajuan sudah Published, maka campaign akan
                    otomatis tampil pada halaman utama. Dan sudah mulai bisa
                    dilihat dan diakses serta didonasi.
                  </li>
                </ol>
              </div>
              <div
                class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b"
              >
                <button
                  data-modal-hide="defaultModal"
                  type="button"
                  @click="actionGuideBook"
                  class="text-white bg-green-400 hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                  Saya Telah Selesai Membaca
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import headerPendaftaran from "../assets/images/pendaftaran/header_register.svg"
import Logo from "../assets/images/logo3Funding.png"
import Swal from "sweetalert2"
import axios from "axios"

export default {
  data() {
    return {
      formBody: {
        name: "",
        email: "",
        password: "",
        confirmPassword: "",
        institusi: "",
        nohp: "",
      },
      headerPendaftaran,
      Logo,
      showGuideBook: false,
    }
  },
  methods: {
    handleSubmit() {
      if (this.formBody.password != this.formBody.confirmPassword) {
        Swal.fire({
          title: "Error!",
          text: "Password yang anda masukkan tidak sama!",
          icon: "error",
          confirmButtonText: "OK",
        })
      } else {
        this.submitData()
      }
    },
    async submitData() {
      try {
        let result = await axios.post(
          "https://3funding.ajakjago.com/api/register",
          {
            email: this.formBody.email,
            password: this.formBody.password,
            name: this.formBody.name,
            institusi: this.formBody.institusi,
            phone_number: this.formBody.nohp,
          }
        )

        if (result.status == 200) {
          Swal.fire({
            title: "Success!",
            text: "Anda berhasil melakukan pendaftaran!",
            icon: "success",
            confirmButtonText: "OK",
          })
          this.$router.push("/login")
        }
      } catch (error) {
        if (error.response.status === 400) {
          const validationErrors = error.response.data.errors
          for (const key in validationErrors) {
            if (validationErrors.hasOwnProperty(key)) {
              const errorMessage = validationErrors[key][0]

              Swal.fire({
                title: "Error!",
                text: `${errorMessage}`,
                icon: "error",
                confirmButtonText: "OK",
              })
            }
          }
        } else {
          Swal.fire({
            title: "Error!",
            text: `Terjadi kesalahan server`,
            icon: "error",
            confirmButtonText: "OK",
          })
        }
      }
    },
    actionGuideBook() {
      this.showGuideBook = !this.showGuideBook
    },
  },
}
</script>

<style></style>
