<template>
  <NavbarComponent></NavbarComponent>
  <HeroComponent></HeroComponent>
  <CampaignCarousel></CampaignCarousel>
  <WhyMe></WhyMe>
  <Testimoni></Testimoni>
  <Footer></Footer>
</template>

<script>
import HeroComponent from "../components/Homepage/Hero.vue"
import CampaignCarousel from "../components/Homepage/CampaingCarousel.vue"
import WhyMe from "../components/Homepage/WhyMe.vue"
import Testimoni from "../components/Homepage/Testimoni.vue"

export default {
  components: {
    HeroComponent,
    CampaignCarousel,
    WhyMe,
    Testimoni,
  },
}
</script>

<style></style>
