<template>
  <div class="w-full min-h-[100vh] flex justify-center items-center">
    <div
      class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8"
    >
      <form class="space-y-6" @submit.prevent="handleLogin">
        <img :src="imageLogo" alt="" class="mx-auto" />
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="name@email.com"
            v-model="formBody.email"
            required
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            v-model="formBody.password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
          />
        </div>
        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="remember"
                type="checkbox"
                value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
              />
            </div>
            <label for="remember" class="ml-2 text-sm font-medium text-gray-900"
              >Remember me</label
            >
          </div>
        </div>
        <button
          type="submit"
          class="w-full text-white bg-primary hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Login to your account
        </button>
        <div class="text-sm font-medium text-gray-500">
          Belum Punya Akun?
          <router-link to="/register" class="text-primary hover:underline"
            >Daftar Sekarang</router-link
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import imageLogo from "../assets/images/logo3Funding.png"
import Swal from "sweetalert2"

export default {
  data() {
    return {
      formBody: {
        email: "",
        password: "",
      },
      imageLogo,
      responseLogin: {},
    }
  },
  methods: {
    async handleLogin() {
      try {
        const responseLogin = await axios.post(
          "https://3funding.ajakjago.com/api/login",
          {
            email: this.formBody.email,
            password: this.formBody.password,
          }
        )

        if (responseLogin.status === 200) {
          Swal.fire({
            title: "Success!",
            text: "Anda berhasil melakukan login!",
            icon: "success",
            confirmButtonText: "OK",
          })
          localStorage.setItem("token", responseLogin.data.token)

          this.$router.push("/dashboard")
        }
      } catch (error) {
        if (error.response.status === 401) {
          Swal.fire({
            title: "Gagal!",
            text: "Email/Password Salah!",
            icon: "error",
            confirmButtonText: "OK",
          })
        } else {
          Swal.fire({
            title: "Error!",
            text: "Terjadi Sebuah Kesalahan",
            icon: "error",
            confirmButtonText: "OK",
          })
        }
      }
    },
  },
}
</script>

<style></style>
