<template>
  <h1>
    <section class="bg-white">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <img :src="NotFoundImg" alt="" class="mx-auto" />
          <p
            class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl"
          >
            404 Not Found
          </p>
          <p class="mb-4 text-lg font-light text-gray-500">
            Halaman yang anda tuju tidak tersedia/telah dihapus. Harap hubungi
            pihak 3Funding, Jika merasa ada yang salah.
          </p>
          <router-link
            to="/"
            class="inline-flex bg-primary hover:opacity-80 text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
            >Kembali ke Homepage</router-link
          >
        </div>
      </div>
    </section>
  </h1>
</template>

<script>
import NotFoundImg from "../assets/images/404NotFound.webp"

export default {
  data() {
    return {
      NotFoundImg,
    }
  },
}
</script>

<style></style>
