<template>
  <NavbarComponent></NavbarComponent>
  <Hero></Hero>
  <Description></Description>
  <Team></Team>
  <Footer></Footer>
</template>

<script>
import Hero from "../components/TentangKami/Hero.vue"
import Description from "../components/TentangKami/Description.vue"
import Team from "../components/TentangKami/Team.vue"

export default {
  components: {
    Hero,
    Description,
    Team,
  },
}
</script>

<style></style>
