<template>
  <div class="w-full lg:w-3/4 px-5 md:px-0">
    <div v-if="campaign.title != null">
      <h1 class="text-3xl md:text-4xl font-medium">
        {{ campaign ? campaign.title : "Loading..." }}
      </h1>
      <div class="time-left mt-3 flex gap-x-2">
        <img :src="iconTime" alt="" class="w-7" />
        <p class="text-gray-400 font-light">
          Campaign berakhir
          {{
            Math.ceil(
              (new Date(this.campaign.end_date_camp).getTime() -
                new Date().getTime()) /
                (1000 * 3600 * 24)
            )
          }}
          hari lagi.
        </p>
      </div>
      <div class="time-left mt-3 flex gap-x-2">
        <img :src="targetIcon" alt="" class="w-7" />
        <p class="text-gray-400 font-light">
          Target :
          <span class="text-primary font-semibold"
            >Rp {{ campaign.target }}</span
          >
        </p>
      </div>
      <div class="progress-bar mt-3">
        <div class="bg-gray-200 rounded-full h-3 md:h-5">
          <div
            class="bg-primary h-3 md:h-5 rounded-full"
            v-if="campaign.total_nominal_donatur < campaign.target"
            :style="{
              width: campaign
                ? (campaign.total_nominal_donatur / parseInt(campaign.target)) *
                    100 +
                  '%'
                : '0%',
            }"
          ></div>
          <div
            class="bg-primary h-2.5 rounded-full"
            v-else
            style="width: 100%"
          ></div>
        </div>
        <div class="text-progress flex justify-between mt-2 text-xl">
          <p class="font-light text-sm md:text-base">
            {{
              campaign
                ? Math.ceil(
                    (campaign.total_nominal_donatur /
                      parseInt(campaign.target)) *
                      100
                  ) + "%"
                : "Loading.."
            }}
          </p>
          <p class="font-semibold text-sm md:text-base">
            Rp. {{ campaign ? campaign.total_nominal_donatur : "Loading..." }}
          </p>
        </div>
      </div>
      <div class="description mt-3">
        <p class="font-light text-sm md:text-base">
          {{ campaign ? campaign.description : "Loading..." }}
        </p>
      </div>
    </div>
    <div role="status" class="max-w-sm animate-pulse" v-else>
      <div class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full max-w-full"></div>
    </div>
  </div>
</template>

<script>
import iconTime from "../../assets/images/time.png"
import targetIcon from "../../assets/images/detailcampaign/target_icon.png"

export default {
  props: {
    campaign: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      iconTime,
      targetIcon,
    }
  },
}
</script>

<style></style>
