<template>
  <div class="w-full lg:w-1/3 mx-5 md:mx-0">
    <div
      class="bg-white border border-gray-200 rounded-lg shadow overflow-hidden p-5"
    >
      <p class="font-light text-center">Transaction Record :</p>
      <div class="alldonation mt-5" v-if="campaign.transaction">
        <div v-for="donate in campaign.transaction.data" :key="donate.id">
          <div
            class="user-donation flex items-center gap-x-3 mb-3"
            v-if="donate.status_payment == 'Success'"
          >
            <img :src="userImage" alt="user-donation" />
            <div class="des-donation">
              <h4 class="text-lg font-semibold">{{ donate.nama_donatur }}</h4>
              <p class="text-green-500">+ Rp.{{ donate.nominal_donatur }}</p>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-5">
          <TailwindPagination
            :data="campaign.transaction"
            @pagination-change-page="refreshData"
          />
        </div>
      </div>
      <div role="status" class="max-w-sm animate-pulse mt-5" v-else>
        <div
          class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"
        ></div>
        <div
          class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"
        ></div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
        <div
          class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"
        ></div>
        <div
          class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[300px] mb-2.5"
        ></div>
        <div
          class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"
        ></div>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</template>

<script>
import userImage from "../../assets/images/detailcampaign/user_profile.png"
import { TailwindPagination } from "laravel-vue-pagination"

export default {
  props: {
    campaign: {
      type: Object,
    },
  },
  components: {
    TailwindPagination,
  },
  data() {
    return {
      userImage,
    }
  },
  methods: {
    refreshData(page) {
      this.$emit("refreshdata", page)
    },
  },
}
</script>

<style></style>
