<template>
  <div class="w-full lg:w-1/3 px-5 md:px-0">
    <div
      class="bg-white border border-gray-200 rounded-lg shadow overflow-hidden p-5"
    >
      <p class="font-light text-sm">Campaign Owner :</p>
      <div class="detail-account flex gap-x-4 items-center mt-5">
        <img class="w-20 h-20 rounded-full shadow-lg" :src="iconUser" />
        <div class="text">
          <p class="font-semibold text-xl">
            {{ campaign.user ? campaign.user.name : "Loading..." }}
          </p>
          <p class="text-sm text-gray-400">
            {{ campaign.user ? campaign.user.institusi : "Loading..." }}
          </p>
        </div>
      </div>
      <div class="will-you-get mt-4">
        <p class="font-medium">Benefit Anda :</p>
        <ul>
          <li class="mt-2 flex gap-x-2 items-start">
            <img :src="Checklist" alt="" />
            <p class="font-light">
              Anda ikut berpartisipasi dalam pembangunan ide anak bangsa.
            </p>
          </li>
          <li class="mt-2 flex gap-x-2 items-start">
            <img :src="Checklist" alt="" />
            <p class="font-light">Anda ikut membantu untuk kemajuan Negara.</p>
          </li>
          <li class="mt-2 flex gap-x-2 items-start">
            <img :src="Checklist" alt="" />
            <p class="font-light">
              Anda membantu menciptakan SDM yang berkualitas.
            </p>
          </li>
        </ul>
      </div>
      <button
        @click="handleModal"
        class="bg-primary rounded-3xl w-full p-3 text-white mt-4 hover:opacity-80"
      >
        Fund Now
      </button>
    </div>
  </div>

  <div
    tabindex="-1"
    aria-hidden="true"
    :class="{ flex: modal, hidden: !modal }"
    class="fixed top-0 left-0 right-0 bottom-0 z-50 items-center justify-center w-full h-screen bg-black bg-opacity-70 p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full"
  >
    <div class="relative w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button
          type="button"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="authentication-modal"
          @click="handleModal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="px-6 py-6 lg:px-8">
          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">
            Donasi sekarang
          </h3>
          <form class="space-y-2" @submit.prevent="handleForm">
            <div>
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Nama Anda :
              </label>
              <input
                type="text"
                name="name"
                id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="Masukkan Nama Anda"
                :disabled="anonymousName"
                v-model="formBody.nama"
                required
              />
            </div>
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                  v-model="anonymousName"
                />
              </div>
              <label
                for="remember"
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Ingin menyamarkan nama?</label
              >
            </div>
            <div>
              <label
                for="nominal"
                class="block mb-2 mt-5 text-sm font-medium text-gray-900 dark:text-white"
                >Nominal :
              </label>
              <input
                type="text"
                name="nominal"
                id="nominal"
                v-model="formBody.nominal"
                placeholder="50000"
                class="bg-gray-50 border mb-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
              />
            </div>
            <button
              type="submit"
              class="w-full text-white bg-primary hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Donasi Sekarang
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import iconUser from "../../assets/images/tentangkami/logo_user.png"
import Checklist from "../../assets/images/checklist.svg"
import axios from "axios"
import Swal from "sweetalert2"

export default {
  props: {
    campaign: {
      type: Object,
    },
  },
  data() {
    return {
      iconUser,
      Checklist,
      modal: false,
      anonymousName: false,
      formBody: {
        nominal: "",
        nama: "",
      },
    }
  },
  methods: {
    async handleForm() {
      const responseForm = await axios.post(
        "https://3funding.ajakjago.com/api/transactions/" + this.campaign.id,
        {
          nama_donatur: this.formBody.nama,
          nominal_donatur: parseInt(this.formBody.nominal),
        }
      )
      if (responseForm.status == 200) {
        localStorage.setItem(
          "token_transaction",
          responseForm.data.data.token_transaction
        )
        Swal.fire({
          title: "Peringatan!",
          text: "Anda dilanjutkan ke halaman pembayaran",
          icon: "warning",
          confirmButtonText: "OK",
        })
        this.$router.push("/checkout/" + responseForm.data.data.id)
      }
    },
    handleModal() {
      this.modal = !this.modal
    },
  },
  watch: {
    anonymousName: function (newVal) {
      if (newVal) {
        this.formBody.nama = "anonymous"
      } else {
        this.formBody.nama = ""
      }
    },
  },
}
</script>

<style></style>
