<template>
  <section id="contact-form" class="py-10">
    <div
      class="container flex justify-center animate__animated animate__bounceInRight"
    >
      <div class="w-3/4 p-6 bg-white border border-gray-200 rounded-lg shadow">
        <h1 class="text-center font-semibold text-3xl text-primary">
          KIRIMKAN PESAN
        </h1>
        <p class="mb-3 text-center text-sm lg:text-base text-gray-400 mt-2">
          Kirimkan sebuah pesan kepada kami jika ada sebuah saran, kritik,
          masukan, ulasan, dll. <br />Kami akan membalas pesan anda melalui
          email <span class="text-red-600">maksimal 2 x 24 jam</span>.
        </p>
        <form @submit.prevent="onSubmitForm">
          <div class="mb-6">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Email :</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Masukkan Email Anda"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="nama"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Nama :</label
            >
            <input
              type="text"
              id="nama"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Masukkan Nama Anda"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="topik"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Topik Permasalahan :</label
            >
            <input
              type="text"
              id="topik"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Masukkan Topik Permasalahan"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="message"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Pesan Anda</label
            >
            <textarea
              id="message"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Tuliskan Pesan Anda..."
            ></textarea>
          </div>
          <button
            type="submit"
            class="text-white bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
          >
            Kirim
          </button>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import Swal from "sweetalert2"
export default {
  methods: {
    onSubmitForm() {
      Swal.fire({
        title: "Success!",
        text: "Pesan Anda Berhasil Terkirim!",
        icon: "success",
        confirmButtonText: "OK",
      })
    },
  },
}
</script>

<style>
textarea {
  resize: none;
}
</style>
