<template>
  <header>
    <div
      class="w-full md:h-72 py-14 md:py-10 bg-cover flex justify-center items-center hero_banner"
    >
      <div class="text-white text-center">
        <p class="md:text-lg font-semibold mb-2 md:mb-5">Beranda / Contact</p>
        <h2 class="text-4xl md:text-5xl font-bold">Contact</h2>
      </div>
    </div>
  </header>
</template>

<script>
export default {}
</script>

<style scoped>
.hero_banner {
  background: url(../../assets/images/contact/banner_hero.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.3);
  background-position: center;
}
</style>
