<template>
  <nav class="lg:container bg-white border-gray-200">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center">
        <img
          src="../assets/images/logo3Funding.png"
          class="h-14 mr-3"
          alt="Flowbite Logo"
        />
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-default"
        aria-expanded="false"
        @click="handlerNavbar"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div
        class="w-full md:block md:w-auto"
        :class="{ hidden: !isOpen }"
        id="navbar-default"
      >
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-4 lg:space-x-8 md:mt-0 md:border-0 md:bg-white items-center"
        >
          <li>
            <router-link
              to="/"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded md:hover:bg-transparent md:border-0 hover:text-primary md:p-0 font-normal"
              aria-current="page"
              >Beranda</router-link
            >
          </li>
          <li>
            <router-link
              to="/campaigns"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded md:hover:bg-transparent md:border-0 hover:text-primary md:p-0 font-normal"
              >Semua Campaign</router-link
            >
          </li>
          <li>
            <router-link
              to="/perkembangan-campaigns"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded md:hover:bg-transparent md:border-0 hover:text-primary md:p-0 font-normal"
              >Perkembangan Campaign</router-link
            >
          </li>
          <li>
            <router-link
              to="/about"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded md:hover:bg-transparent md:border-0 hover:text-primary md:p-0 font-normal"
              >Tentang Kami</router-link
            >
          </li>
          <li>
            <router-link
              to="/contact"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded md:hover:bg-transparent md:border-0 hover:text-primary md:p-0 font-normal"
              >Contact</router-link
            >
          </li>
          <li>
            <router-link
              class="bg-primary rounded-md px-4 py-2 text-white font-semibold hover:opacity-80"
              to="/register"
            >
              Ajukan Campaign
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavbarComponent",
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    handlerNavbar() {
      this.isOpen = !this.isOpen
    },
  },
}
</script>

<style></style>
