<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <nav class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/dashboard" class="text-sm">
                <span
                  class="inline-flex items-center text-sm font-semibold text-dark hover:text-primary"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="currentColor"
                    stroke="currentColor"
                    width="20"
                    height="20"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                    ></path>
                  </svg>
                  User
                </span>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="w-6 h-6 text-dark"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fillRule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
                  ></path>
                </svg>
                <a
                  href="#"
                  class="ml-1 text-sm font-semibold text-primary md:ml-2"
                  >Campaign</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <div class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <div class="w-full self-center lg:w-1/2">
            <p class="text-gray-600 font-bold">Data Campaign</p>
            <p class="text-gray-500 text-sm inline-block">
              List of data Campaign
            </p>
          </div>
          <div class="w-full self-center lg:w-1/2 text-right mt-2">
            <router-link
              to="create-campaign"
              class="text-white bg-primary hover:bg-opacity-80 rounded-full text-sm font-medium px-4 py-2.5 mb-2 text-center inline-flex items-center"
            >
              <svg
                fill="none"
                class="w-5 h-5 mr-1"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v12m6-6H6"
                ></path>
              </svg>
              Ajukan Campaign
            </router-link>
          </div>
        </div>
        <div class="px-5 py-8 mb-4 text-dark rounded-lg bg-white">
          <div
            class="md:flex lg:flex-wrap md:gap-y-4 md:gap-x-3 lg:gap-x-5"
            v-if="campaignUser.length > 0"
          >
            <div
              class="w-full md:w-1/2 lg:w-1/4 bg-white border border-gray-200 rounded-lg shadow mb-5 md:mb-0"
              v-for="campaign in campaignUser"
              :key="campaign.id"
            >
              <router-link :to="`detailcampaign/${campaign.id}`">
                <img
                  class="rounded-t-lg h-56 md:h-72 w-full"
                  :src="
                    'https://3funding.ajakjago.com/storage/' + campaign.banner
                  "
                  alt=""
                />
              </router-link>
              <div class="p-5">
                <a href="#">
                  <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
                  >
                    {{ campaign.judul_campain }}
                  </h5>
                  <span
                    :class="{
                      'bg-green-100 text-green-800':
                        campaign.status === 'Published',
                      'bg-red-100 text-red-800': campaign.status === 'Closed',
                      'bg-yellow-100 text-yellow-800':
                        campaign.status !== 'Published' &&
                        campaign.status !== 'Closed',
                    }"
                    class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                    >{{ campaign.status }}</span
                  >
                </a>
                <p
                  class="mb-3 font-normal text-gray-700"
                  style="
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  "
                >
                  {{ campaign.deskripsi }}
                </p>
                <router-link
                  :to="`detailcampaign/${campaign.id}`"
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300"
                >
                  Details
                  <svg
                    class="w-3.5 h-3.5 ml-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </router-link>
                <router-link
                  :class="{
                    hidden: campaign.status != 'Closed',
                  }"
                  :to="`pencairan/${campaign.id}`"
                  class="inline-flex items-center px-3 py-2 ml-2 text-sm font-medium text-center text-white bg-green-400 rounded-lg hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300"
                >
                  Cairkan Dana
                  <svg
                    class="w-3.5 h-3.5 ml-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </router-link>
                <router-link
                  :class="{
                    hidden: campaign.status != 'Closed',
                  }"
                  :to="`perkembangan/${campaign.id}`"
                  class="inline-flex items-center px-3 py-2 mt-2 text-sm font-medium text-center text-white bg-orange-400 rounded-lg hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300"
                >
                  Update Perkembangan
                  <svg
                    class="w-3.5 h-3.5 ml-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </router-link>
              </div>
            </div>
          </div>
          <div v-else>
            <p class="text-center text-sm md:text-base my-10 text-gray-400">
              Anda belum memiliki campaign
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
export default {
  data() {
    return {
      userID: 0,
      campaignUser: [],
    }
  },
  created() {
    this.getDataUser()
  },
  methods: {
    async getDataUser() {
      const dataUser = await axios.get(
        "https://3funding.ajakjago.com/api/user",
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.userID = dataUser.data.id
      this.getCampaignByUser()
    },

    async getCampaignByUser() {
      const dataCampaign = await axios.get(
        `https://3funding.ajakjago.com/api/req-campains/user/${this.userID}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.campaignUser = dataCampaign.data.data
    },
  },
}
</script>

<style></style>
