<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <nav class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/dashboard" class="text-sm">
                <span
                  class="inline-flex items-center text-sm font-semibold text-dark hover:text-primary"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="currentColor"
                    stroke="currentColor"
                    width="20"
                    height="20"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                    ></path>
                  </svg>
                  User
                </span>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="w-6 h-6 text-dark"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fillRule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
                  ></path>
                </svg>
                <a
                  href="#"
                  class="ml-1 text-sm font-semibold text-primary md:ml-2"
                  >Pengajuan Pencairan</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <div class="px-5 py-8 mb-4 text-dark rounded-lg bg-white">
          <form
            class="space-y-6"
            @submit.prevent="handlePencairan"
            enctype="multipart/form-data"
          >
            <div
              class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50"
              role="alert"
            >
              <svg
                class="flex-shrink-0 inline w-4 h-4 mr-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium"
                  >Informasi Terkait Pengajuan Pencairan Dana :</span
                >
                <ul class="mt-1.5 ml-4 list-disc list-inside">
                  <li>
                    Download template surat pernyataan :
                    <a
                      href="/Lembar%20Pernyataan%20Persetujuan.pdf"
                      target="_blank"
                      class="bg-green-400 py-0.5 px-2 rounded-md text-white hover:opacity-80"
                      >Disini</a
                    >
                  </li>
                  <li>Diharapkan upload surat pernyataan dalam format PDF.</li>
                  <li>
                    Harap menghubungi pihak 3Funding, jika ingin mengubah
                    rekening pencairan dana.
                  </li>
                  <li class="font-semibold">
                    Harap membaca Syarat & Ketentuan sebelum melakukan pengajuan
                    pencairan.
                  </li>
                </ul>
              </div>
            </div>
            <h5 class="text-xl font-medium text-gray-900">
              Ajukan Pencairan Dana
            </h5>
            <div>
              <label
                for="banner"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Surat Pernyaan :
              </label>
              <input
                type="file"
                name="banner"
                id="banner"
                @change="handleBannerChange"
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                placeholder="Upload Surat Pernyataan"
                required
              />
            </div>
            <div>
              <label
                for="no_rekening"
                class="block mb-2 text-sm font-medium text-gray-900"
                >No Rekening :
              </label>
              <input
                type="text"
                name="no_rekening"
                id="no_rekening"
                class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Nomor Rekening"
                disabled="true"
                :value="`${dataCampaign.no_rekening} - [${dataCampaign.payment_method}]`"
                required
              />
            </div>
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  v-model="Snk"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                  required
                />
              </div>
              <label
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Saya setuju dengan
                <a
                  @click="actionSnk"
                  class="text-blue-600 hover:underline hover:cursor-pointer dark:text-blue-500"
                  >syarat & ketentuan</a
                >.</label
              >
            </div>
            <button
              type="submit"
              class="text-white bg-primary hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Ajukan Pencairan
            </button>
          </form>

          <div
            id="defaultModal"
            tabindex="-1"
            aria-hidden="true"
            :class="{ hidden: showSnk === false }"
            class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0"
          >
            <div class="relative w-full max-w-2xl max-h-full">
              <div class="relative bg-white rounded-lg shadow">
                <div
                  class="flex items-start bg-orange-400 justify-between p-4 border-b rounded-t"
                >
                  <h3 class="text-xl font-semibold text-white">
                    Syarat & Ketentuan
                  </h3>
                  <button
                    type="button"
                    @click="actionSnk"
                    class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                    data-modal-hide="defaultModal"
                  >
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                      />
                    </svg>
                  </button>
                </div>
                <div class="p-6 space-y-6">
                  <ol
                    class="space-y-3 text-gray-500 list-decimal list-inside dark:text-gray-400"
                  >
                    <li>
                      Dana yang dicairkan wajib digunakan untuk perkembangan
                      inovasi yang diajukan.
                    </li>
                    <li>
                      Bersedia melakukan update perkembangan, maksimal 2 minggu
                      sekali. Hingga inovasi yang diajukan selesai.
                    </li>
                    <li>
                      Bersedia membuat proposal akhir untuk melaporkan bahwa
                      inovasi yang dilaksanakan telah selesai.
                    </li>
                    <li>
                      Siap menanggung segala tuntutan jika dikemudian hari
                      terdapat kecurangan dalam pengelolaan dana ataupun pihak
                      yang merasa dirugikan baik secara pribadi maupun tuntutan
                      secara hukum.
                    </li>
                  </ol>
                </div>
                <div
                  class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b"
                >
                  <button
                    data-modal-hide="defaultModal"
                    type="button"
                    @click="actionAgreeSnk"
                    class="text-white bg-green-400 hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  >
                    Saya Setuju Dengan Syarat & Ketentuan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2"
import axios from "axios"
import { useRoute } from "vue-router"
export default {
  data() {
    return {
      reqCamp: {
        surat_pernyataan: "",
      },
      dataCampaign: {},
      showSnk: false,
      Snk: false,
    }
  },
  async created() {
    await this.getCampaign()
    if (this.dataCampaign.status != "Closed") {
      this.$router.push("/dashboard/home")
    }
  },
  methods: {
    handleBannerChange(event) {
      const file = event.target.files[0]
      this.reqCamp.banner = file
    },
    handleFileChange(event) {
      const file = event.target.files[0]
      this.reqCamp.proposal = file
    },
    actionSnk() {
      this.showSnk = !this.showSnk
    },
    actionAgreeSnk() {
      this.Snk = true
      this.showSnk = !this.showSnk
    },
    handlePencairan() {
      Swal.fire({
        title: "Success!",
        text: "Berhasil Mengajukan Pencairan Dana",
        icon: "success",
        confirmButtonText: "OK",
      })
      this.$router.push("/dashboard/home")
    },
    async getCampaign() {
      const response = await axios.get(
        "https://3funding.ajakjago.com/api/req-campain/" + useRoute().params.id
      )
      //   console.log(response.data.data)
      this.dataCampaign = response.data.data
    },
  },
}
</script>

<style></style>
