<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <nav class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/dashboard" class="text-sm">
                <span
                  class="inline-flex items-center text-sm font-semibold text-dark hover:text-primary"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="currentColor"
                    stroke="currentColor"
                    width="20"
                    height="20"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                    ></path>
                  </svg>
                  User
                </span>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="w-6 h-6 text-dark"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fillRule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
                  ></path>
                </svg>
                <a
                  href="#"
                  class="ml-1 text-sm font-semibold text-primary md:ml-2"
                  >Create Campaign</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <div class="px-5 py-8 mb-4 text-dark rounded-lg bg-white">
          <form
            class="space-y-6"
            @submit.prevent="handleCreateReqCampaign"
            enctype="multipart/form-data"
          >
            <div
              class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50"
              role="alert"
            >
              <svg
                class="flex-shrink-0 inline w-4 h-4 mr-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium"
                  >Informasi Terkait Pengajuan Campaign :</span
                >
                <ul class="mt-1.5 ml-4 list-disc list-inside">
                  <li>
                    Download template proposal
                    <a
                      href="/Tata%20Cara%20Pengajuan%20&%20Template%20Proposal%20Campaign.docx.pdf"
                      target="_blank"
                      class="bg-green-400 py-0.5 px-2 rounded-md text-white hover:opacity-80"
                      >Disini</a
                    >
                  </li>
                  <li>Diharapkan upload proposal dalam format PDF.</li>
                  <li>Upload banner dalam format image [jpeg,png,jpg].</li>
                  <li>Banner yang diupload berukuran maksimal 2MB.</li>
                  <li class="font-semibold">
                    Harap membaca Syarat & Ketentuan sebelum melakukan pengajuan
                    campaign.
                  </li>
                </ul>
              </div>
            </div>
            <h5 class="text-xl font-medium text-gray-900">Ajukan Campaign</h5>
            <div>
              <label
                for="title"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Judul Campaign :
              </label>
              <input
                type="text"
                name="title"
                id="title"
                v-model="reqCamp.judul_campain"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
                placeholder="Judul Campaign"
                required
              />
            </div>
            <div>
              <label
                for="proposal"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Proposal :
              </label>
              <input
                type="file"
                name="proposal"
                id="proposal"
                @change="handleFileChange"
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                placeholder="Judul Campaign"
                required
              />
            </div>
            <div>
              <label
                for="banner"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Banner :
              </label>
              <input
                type="file"
                name="banner"
                id="banner"
                @change="handleBannerChange"
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                placeholder="Judul Campaign"
                required
              />
            </div>
            <div>
              <label
                for="title"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Deskripsi :
              </label>
              <textarea
                id="description"
                rows="4"
                v-model="reqCamp.deskripsi"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary focus:border-blue-primary"
                placeholder="Deskripsi Campaign"
              ></textarea>
            </div>
            <div>
              <label
                for="target"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Target Campaign :
              </label>
              <input
                type="text"
                name="target"
                id="target"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
                placeholder="Target Campaign"
                v-model="reqCamp.target"
                required
              />
            </div>
            <div>
              <label
                for="no_rekening"
                class="block mb-2 text-sm font-medium text-gray-900"
                >No Rekening :
              </label>
              <input
                type="text"
                name="no_rekening"
                id="no_rekening"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
                placeholder="Nomor Rekening"
                v-model="reqCamp.no_rekening"
                required
              />
            </div>
            <div>
              <label
                for="payment_method"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Metode Penarikan :
              </label>
              <select
                name="payment_method"
                id="payment_method"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
                v-model="reqCamp.payment_method"
              >
                <option value="BNI">BNI</option>
                <option value="BCA">BCA</option>
                <option value="MANDIRI">MANDIRI</option>
                <option value="BRI">BRI</option>
                <option value="E-Wallet">E-Wallet</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>
            <div class="flex items-start mb-6">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  v-model="Snk"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                  required
                />
              </div>
              <label
                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Saya setuju dengan
                <a
                  @click="actionSnk"
                  class="text-blue-600 hover:underline hover:cursor-pointer dark:text-blue-500"
                  >syarat & ketentuan</a
                >.</label
              >
            </div>
            <button
              type="submit"
              class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Ajukan Campaign
            </button>
          </form>

          <div
            id="defaultModal"
            tabindex="-1"
            aria-hidden="true"
            :class="{ hidden: showSnk === false }"
            class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0"
          >
            <div class="relative w-full max-w-2xl max-h-full">
              <div class="relative bg-white rounded-lg shadow">
                <div
                  class="flex items-start bg-orange-400 justify-between p-4 border-b rounded-t"
                >
                  <h3 class="text-xl font-semibold text-white">
                    Syarat & Ketentuan
                  </h3>
                  <button
                    type="button"
                    @click="actionSnk"
                    class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                    data-modal-hide="defaultModal"
                  >
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                      />
                    </svg>
                  </button>
                </div>
                <div class="p-6 space-y-6">
                  <ol
                    class="space-y-3 text-gray-500 list-decimal list-inside dark:text-gray-400"
                  >
                    <li>
                      Ide yang dipublish bisa dilihat oleh seluruh masyarakat
                      publik.
                    </li>
                    <li>
                      Ide yang diplagiasi oleh orang yang tidak bertanggung
                      jawab berada di luar tanggung jawab pihak 3Funding.
                    </li>
                    <li>
                      Penyelenggara campaign harus memberikan informasi yang
                      jelas dan transparan tentang kemajuan produk.
                    </li>
                    <li>
                      Pihak 3Funding dapat menghentikan atau menghapus campaign
                      yang melanggar syarat dan ketentuan yang telah ditetapkan.
                    </li>
                    <li>
                      Campaign yang diajukan harus mematuhi standar etika dan
                      peraturan yang berlaku
                    </li>
                    <li>
                      Campaign yang diunggah harus mematuhi standar etika dan
                      hukum yang berlaku.
                    </li>
                    <li>
                      Bersedia mengembalikan dana jika proyek tidak terlaksana
                      atau jika terdapat ketidaksesuaian dalam penggunaan dana.
                    </li>
                  </ol>
                </div>
                <div
                  class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b"
                >
                  <button
                    data-modal-hide="defaultModal"
                    type="button"
                    @click="actionAgreeSnk"
                    class="text-white bg-green-400 hover:opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  >
                    Saya Setuju Dengan Syarat & Ketentuan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import Swal from "sweetalert2"
export default {
  data() {
    return {
      reqCamp: {
        judul_campain: "",
        target: "",
        deskripsi: "",
        no_rekening: "",
        payment_method: "",
        proposal: {},
        banner: {},
      },
      showSnk: false,
      Snk: false,
    }
  },
  methods: {
    handleBannerChange(event) {
      const file = event.target.files[0]
      this.reqCamp.banner = file
    },
    handleFileChange(event) {
      const file = event.target.files[0]
      this.reqCamp.proposal = file
    },
    actionSnk() {
      this.showSnk = !this.showSnk
    },
    actionAgreeSnk() {
      this.Snk = true
      this.showSnk = !this.showSnk
    },
    async handleCreateReqCampaign() {
      try {
        const config = {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: `Bearer ${localStorage.getItem("token")}`,
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
          },
        }

        const response = await axios.post(
          "https://3funding.ajakjago.com/api/req-campain",
          this.reqCamp,
          config
        )

        if (response.status === 200) {
          Swal.fire({
            title: "Success!",
            text: "Berhasil Mengajukan Campaign",
            icon: "success",
            confirmButtonText: "OK",
          })
          this.$router.push("/dashboard/campaign")
        }
      } catch (err) {
        if (err.response.status === 400) {
          const validationErrors = err.response.data.errors
          for (const key in validationErrors) {
            if (validationErrors.hasOwnProperty(key)) {
              const errorMessage = validationErrors[key][0]

              Swal.fire({
                title: "Error!",
                text: `${errorMessage}`,
                icon: "error",
                confirmButtonText: "OK",
              })
            }
          }
        } else {
          Swal.fire({
            title: "Error!",
            text: `Terjadi kesalahan server`,
            icon: "error",
            confirmButtonText: "OK",
          })
        }
      }
    },
  },
}
</script>

<style></style>
