<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <nav class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/dashboard" class="text-sm">
                <span
                  class="inline-flex items-center text-sm font-semibold text-dark hover:text-primary"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="currentColor"
                    stroke="currentColor"
                    width="20"
                    height="20"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                    ></path>
                  </svg>
                  User
                </span>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="w-6 h-6 text-dark"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fillRule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
                  ></path>
                </svg>
                <a
                  href="#"
                  class="ml-1 text-sm font-semibold text-primary md:ml-2"
                  >Dashboard</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <div class="grid sm:grid-cols-3 gap-4 mb-4">
          <div class="flex gap-6 h-24 rounded-lg bg-white hover:bg-gray-100">
            <div class="text-2xl text-gray-400 px-4">
              <div
                class="flex items-center flex-row w-full h-full bg-gradient-to-r rounded-lg p-3"
              >
                <div
                  class="flex text-gray-50 items-center bg-primary p-2 rounded-full flex-none w-12 h-12"
                >
                  <svg
                    fill="none"
                    class="md:w-8 md:h-8 w-5 h-5 m-auto"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.5 8.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v8.25A2.25 2.25 0 006 16.5h2.25m8.25-8.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-7.5A2.25 2.25 0 018.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 00-2.25 2.25v6"
                    ></path>
                  </svg>
                </div>
                <div class="flex flex-col justify-start ml-5 tracking-normal">
                  <div class="text-sm text-black font-medium">Campaign</div>
                  <div class="text-gray-400 text-base">
                    {{ countCampign }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex gap-6 h-24 rounded-lg bg-white hover:bg-gray-100">
            <div class="text-2xl text-gray-400 px-4">
              <div
                class="flex items-center flex-row w-full h-full bg-gradient-to-r rounded-md p-3"
              >
                <div
                  class="flex text-gray-50 items-center bg-primary p-2 rounded-full flex-none w-12 h-12"
                >
                  <svg
                    fill="#ffffff"
                    height="800px"
                    width="800px"
                    version="1.1"
                    id="_x31_"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 128 128"
                    xml:space="preserve"
                    stroke="#ffffff"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />

                    <g id="SVGRepo_iconCarrier">
                      <g>
                        <polygon
                          points="22,31.6 22,35.3 115.9,35.3 115.9,82.7 119.5,82.7 119.5,31.6 "
                        />
                        <polygon
                          points="15.3,42 109.2,42 109.2,89.4 112.8,89.4 112.8,38.4 15.3,38.4 "
                        />
                        <path
                          d="M23.9,45.4H8.5v15.4V81v15.4h15.4h66.7H106V81V60.8V45.4H90.6H23.9z M102,60.2v21.2c-5.3,1.4-9.4,5.6-10.9,11H23.3 c-1.4-5.4-5.6-9.5-10.9-11V60.2c5.3-1.4,9.4-5.6,10.9-11h67.8C92.4,54.6,96.6,58.8,102,60.2z"
                        />
                        <circle cx="57.2" cy="70.9" r="18" />
                      </g>
                    </g>
                  </svg>
                </div>
                <div
                  class="flex flex-col justify-around flex-grow ml-5 tracking-normal"
                >
                  <div
                    class="text-sm whitespace-nowrap text-dark text-black font-medium"
                  >
                    Total Pemasukan
                  </div>
                  <div class="text-gray-400 text-base">
                    Rp. {{ balancePemasukan }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex gap-6 h-24 rounded-lg bg-white hover:bg-gray-100">
            <div class="text-2xl text-gray-400 px-4">
              <div
                class="flex items-center flex-row w-full h-full bg-gradient-to-r rounded-md p-3"
              >
                <div
                  class="flex text-gray-50 items-center bg-primary p-2 rounded-full flex-none w-12 h-12"
                >
                  <svg
                    fill="none"
                    class="md:w-8 md:h-8 w-5 h-5 m-auto"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 6h.008v.008H6V6z"
                    ></path>
                  </svg>
                </div>
                <div
                  class="flex flex-col justify-around flex-grow ml-5 tracking-normal"
                >
                  <div
                    class="text-sm whitespace-nowrap text-dark text-black font-medium"
                  >
                    Transaction
                  </div>
                  <div class="text-gray-400 text-base">
                    {{ this.totalTransaction }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap md:flex-nowrap gap-4 mb-4">
          <div class="w-full md:w-1/2 p-4 bg-white rounded-lg sm:p-8">
            <div class="flex items-center justify-between mb-4">
              <h5 class="text-lg font-bold leading-none text-dark">
                Donation Statistic
              </h5>
            </div>
            <div
              class="w-full mt-4 mb-4 border-t border-gray-100"
              v-if="this.listDonation.length > 0"
            >
              <Pie
                v-if="data.labels.length > 0"
                :data="data"
                :options="options"
              />
              <div v-else>Loading...</div>
            </div>
            <div
              class="text-sm md:text-base text-center bg-white text-gray-400 p-2"
              v-else
            >
              No statistic found
            </div>
          </div>
          <div
            class="w-full md:w-1/2 max-w-full p-4 bg-white rounded-lg sm:p-8"
          >
            <div class="flex items-center justify-between mb-4">
              <h5 class="text-lg font-bold leading-none text-dark">Campaign</h5>
            </div>
            <div class="w-full mt-4 mb-4 border-t border-gray-100"></div>
            <div class="flow-root">
              <ul role="list" v-if="reqCampaign.length > 0">
                <li
                  class="py-3 sm:py-4"
                  v-for="campaign in reqCampaign"
                  :key="campaign.id"
                >
                  <router-link :to="`detailcampaign/${campaign.id}`">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                        <div
                          class="flex text-white items-center bg-primary p-2 rounded-full w-12 h-12"
                        >
                          <svg
                            fill="none"
                            stroke="currentColor"
                            class="md:w-6 md:h-6 w-5 h-5 m-auto text-center"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div class="flex-1 items-center min-w-0">
                        <p class="text-sm font-semibold text-gray-600">
                          <router-link
                            class="block hover:text-primary"
                            :to="`detailcampaign/${campaign.id}`"
                          >
                            {{ campaign.judul_campain }}
                          </router-link>
                          <span
                            :class="{
                              'bg-green-100 text-green-800':
                                campaign.status === 'Published',
                              'bg-red-100 text-red-800':
                                campaign.status === 'Closed',
                              'bg-yellow-100 text-yellow-800':
                                campaign.status !== 'Published' &&
                                campaign.status !== 'Closed',
                            }"
                            class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                            >{{ campaign.status }}</span
                          >
                        </p>
                        <p
                          class="text-sm inline-flex items-center text-gray-400"
                        >
                          <svg
                            fill="none"
                            class="left-0"
                            weight="16"
                            height="16"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
                            ></path>
                          </svg>
                          <span class="px-1">
                            Registered on
                            {{
                              moment(campaign.created_at).format("DD-MM-YYYY")
                            }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </router-link>
                </li>
              </ul>
              <div v-else>
                <p class="text-center text-sm md:text-base mb-10 text-gray-400">
                  Anda belum memiliki campaign
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import { Chart as ChartJS, ArcElement, Tooltip, Legend } from "chart.js"
import { Pie } from "vue-chartjs"
import moment from "moment"

ChartJS.register(ArcElement, Tooltip, Legend)

export default {
  data() {
    return {
      userID: 0,
      campaignUser: [],
      reqCampaign: [],
      countCampign: 0,
      balancePemasukan: 0,
      totalTransaction: 0,
      dataTransaction: [],
      listDonation: [],
      moment: moment,
      data: {
        labels: [],
        datasets: [
          {
            backgroundColor: [],
            data: [],
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      },
    }
  },
  components: {
    Pie,
  },
  created() {
    this.getDataUser()
  },
  methods: {
    async getDataUser() {
      const dataUser = await axios.get(
        "https://3funding.ajakjago.com/api/user",
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.userID = dataUser.data.id
      this.getCampaignByUser()
      this.getReqCampaign()
    },

    async getReqCampaign() {
      const req = await axios.get(
        `https://3funding.ajakjago.com/api/req-campains/user/${this.userID}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.reqCampaign = req.data.data
      this.countCampign = this.reqCampaign.length
    },

    async getCampaignByUser() {
      const dataCampaign = await axios.get(
        `https://3funding.ajakjago.com/api/campain-user/${this.userID}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.campaignUser = dataCampaign.data.data

      this.dataTransaction = this.campaignUser.map((campaign) => {
        return campaign.transaction.map((transaction) => {
          return {
            nama: transaction.nama_donatur,
            nominal: transaction.nominal_donatur,
          }
        })
      })

      this.dataTransaction.forEach((campaignTransactions) => {
        campaignTransactions.forEach((transaction) => {
          const { nama, nominal } = transaction
          const donationIndex = this.listDonation.findIndex(
            (donation) => donation.nama === nama
          )

          if (donationIndex === -1) {
            this.listDonation.push({ nama, nominal: parseInt(nominal) })
          } else {
            this.listDonation[donationIndex].nominal += parseInt(nominal)
          }
        })
      })

      this.data.labels = this.listDonation.map((donation) => {
        return donation.nama
      })
      this.data.datasets[0].data = this.listDonation.map((donation) => {
        return donation.nominal
      })
      this.data.datasets[0].backgroundColor = this.generateBackgroundColors(
        this.listDonation.length
      )

      this.getTotalPemasukan()
      this.getTotalTransaction()
    },

    getTotalPemasukan() {
      this.campaignUser.forEach((item) => {
        item.transaction.forEach((donation) => {
          this.balancePemasukan += parseInt(donation.nominal_donatur)
        })
      })
    },

    getTotalTransaction() {
      this.campaignUser.forEach((item) => {
        this.totalTransaction += item.transaction.length
      })
    },
    generateBackgroundColors(dataLength) {
      const colors = []
      for (let i = 0; i < dataLength; i++) {
        var r = Math.floor(Math.random() * 255)
        var g = Math.floor(Math.random() * 255)
        var b = Math.floor(Math.random() * 255)
        colors.push("rgb(" + r + "," + g + "," + b + ")")
      }
      return colors
    },
  },
}
</script>

<style></style>
