<template>
  <nav>
    <button
      id="button_aside"
      type="button"
      class="absolute text-left top-5 duration-1000 left-6 cursor-pointer block items-center p-0 text-sm text-gray-400 rounded-lg hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200 lg:hidden peer"
    >
      <svg
        fill="none"
        stroke="currentColor"
        class="h-8 w-8 inline-flex"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
        ></path>
      </svg>
    </button>
    <span
      class="absolute text-dark top-5 duration-1000 right-6 lg:hidden cursor-pointer"
    >
      <img
        class="h-8 drop-shadow-md hover:opacity-80 mx-auto"
        :src="LogoFull"
      />
    </span>

    <div
      class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] p-2 w-[300px] overflow-y-auto overflow-hidden text-center bg-white z-20 peer-focus:left-0 ease-out delay-150 duration-300"
      id="aside"
    >
      <div class="mt-4">
        <img
          class="h-20 w-20 bg-gray-100 rounded-full hover:opacity-80 mx-auto"
          :src="IconLogo"
        />
      </div>
      <p
        class="text-sm text-center font-semibold text-primary mt-4 tracking-tight truncate"
      >
        {{ this.dataUser.name }}
      </p>
      <p class="text-xs mt-2 text-center text-gray-400 tracking-tight truncate">
        {{ this.dataUser.institusi }}
      </p>
      <div class="w-full mt-4 mb-4 border-t border-gray-100"></div>
      <router-link to="/dashboard/home" class="font-medium" title="Dashboard">
        <div
          class="p-2.5 mt-2 flex items-center rounded-lg px-4 duration-300 cursor-pointer hover:bg-primary hover:text-gray-50"
        >
          <svg
            fill="none"
            stroke="currentColor"
            width="20"
            height="20"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
            ></path>
          </svg>
          <span class="text-sm ml-4 tracking-normal"> Dashboard</span>
        </div>
      </router-link>
      <div class="flex m-auto mt-4">
        <span class="text-[11px] ml-4 uppercase font-bold text-dark"
          >Manage</span
        >
      </div>
      <router-link to="/dashboard/campaign" class="font-medium" title="Project">
        <div
          class="p-2.5 mt-2 flex items-center rounded-lg px-4 duration-300 cursor-pointer hover:bg-primary hover:text-gray-50"
        >
          <svg
            fill="none"
            stroke="currentColor"
            width="20"
            height="20"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0114.75 19h-9.5A2.25 2.25 0 013 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 019 1h2c1.373 0 2.531.923 2.887 2.182zM7.5 4A1.5 1.5 0 019 2.5h2A1.5 1.5 0 0112.5 4v.5h-5V4z"
            ></path>
          </svg>
          <span class="text-sm ml-4 tracking-normal">Campaign</span>
        </div>
      </router-link>
      <router-link
        to="/dashboard/transaction"
        class="font-medium"
        title="Category"
      >
        <div
          class="p-2.5 flex items-center rounded-lg px-4 duration-300 cursor-pointer hover:bg-primary hover:text-gray-50"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 6h.008v.008H6V6z"
            ></path>
          </svg>
          <span class="text-sm ml-4 tracking-normal">Transaction</span>
        </div>
      </router-link>
      <div class="flex m-auto mt-4">
        <span class="text-[11px] ml-4 uppercase font-bold text-dark">USER</span>
      </div>
      <form @submit.prevent="handleLogout">
        <button
          type="submit"
          class="logout w-full text-sm font-medium tracking-normal"
          title="Log Out"
        >
          <div
            class="text-red-500 p-2.5 flex items-center rounded-lg px-4 duration-300 cursor-pointer hover:bg-red-600 hover:text-white"
          >
            <svg
              fill="currentColor"
              width="20"
              height="20"
              stroke-width="1.5"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z"
              ></path>
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z"
              ></path>
            </svg>
            <span class="text-sm ml-4 tracking-normal"> Log Out </span>
          </div>
        </button>
      </form>
    </div>
  </nav>
</template>

<script>
import axios from "axios"
import IconLogo from "../../assets/images/icon3funding.png"
import LogoFull from "../../assets/images/logo3Funding.png"
import Swal from "sweetalert2"

export default {
  data() {
    return {
      dataUser: {},
      IconLogo,
      LogoFull,
    }
  },
  created() {
    this.getDataUser()
  },
  methods: {
    async handleLogout() {
      const resultLogOut = await axios.get(
        "https://3funding.ajakjago.com/api/logout",
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      if (resultLogOut.status == 200) {
        localStorage.removeItem("token")
        Swal.fire({
          title: "Success!",
          text: "Anda berhasil melakukan logout!",
          icon: "success",
          confirmButtonText: "OK",
        })
        this.$router.push("/login")
      }
    },
    async getDataUser() {
      const dataUser = await axios.get(
        "https://3funding.ajakjago.com/api/user",
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.dataUser = dataUser.data
    },
  },
}
</script>

<style scoped>
.router-link-active {
  @apply flex p-0 my-2 items-center rounded-lg bg-primary text-white;
}
</style>
