<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <nav class="flex px-5 py-3 mb-4 text-dark rounded-lg bg-white">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/dashboard" class="text-sm">
                <span
                  class="inline-flex items-center text-sm font-semibold text-dark hover:text-primary"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="currentColor"
                    stroke="currentColor"
                    width="20"
                    height="20"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                    ></path>
                  </svg>
                  User
                </span>
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="w-6 h-6 text-dark"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fillRule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clipRule="evenodd"
                  ></path>
                </svg>
                <a
                  href="#"
                  class="ml-1 text-sm font-semibold text-primary md:ml-2"
                  >Transaction</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <div class="px-5 py-8 mb-4 text-dark rounded-lg bg-white">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table
              class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
            >
              <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th scope="col" class="px-6 py-3">ID Transaction</th>
                  <th scope="col" class="px-6 py-3">Campaign</th>
                  <th scope="col" class="px-6 py-3">Nama Donatur</th>
                  <th scope="col" class="px-6 py-3">Nominal</th>
                  <th scope="col" class="px-6 py-3">Status</th>
                </tr>
              </thead>
              <tbody v-for="campaign in this.campaignUser" :key="campaign.id">
                <tr
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                  v-for="transaction in campaign.transaction"
                  :key="transaction.id"
                >
                  <td
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                  >
                    #3FUND-{{ transaction.id }}
                  </td>
                  <td class="px-6 py-4">{{ campaign.title }}</td>
                  <td class="px-6 py-4">{{ transaction.nama_donatur }}</td>
                  <td class="px-6 py-4">
                    Rp.{{ transaction.nominal_donatur }}
                  </td>
                  <td>
                    <span
                      :class="{
                        'bg-green-100 text-green-800':
                          transaction.status_payment === 'Success',
                        'bg-red-100 text-yellow-800':
                          transaction.status_payment === 'Unpaid',
                      }"
                      class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
                      >{{ transaction.status_payment }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
export default {
  data() {
    return {
      userID: 0,
      campaignUser: [],
    }
  },
  created() {
    this.getDataUser()
  },
  methods: {
    async getDataUser() {
      const dataUser = await axios.get(
        "https://3funding.ajakjago.com/api/user",
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.userID = dataUser.data.id
      this.getCampaignByUser()
    },

    async getCampaignByUser() {
      const dataCampaign = await axios.get(
        `https://3funding.ajakjago.com/api/campain-user/${this.userID}`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      )
      this.campaignUser = dataCampaign.data.data
      this.getTransactionAll()
    },
  },
}
</script>

<style></style>
