<template>
  <Campaign></Campaign>
</template>

<script>
import Campaign from "../../components/Dashboard/Campaign.vue"

export default {
  components: {
    Campaign,
  },
}
</script>

<style></style>
