<template>
  <FormCampaign></FormCampaign>
</template>

<script>
import FormCampaign from "../../components/Dashboard/FormCampaign.vue"

export default {
  components: {
    FormCampaign,
  },
}
</script>

<style></style>
