<template>
  <div class="bg-gray-50 h-screen">
    <div class="p-6 lg:p-4 lg:ml-64">
      <div class="lg:px-4 lg:py-2 pt-16 rounded-lg content lg:ml-10">
        <div class="flex flex-wrap md:flex-nowrap gap-4 mb-4">
          <div class="w-full md:w-1/2 p-4 bg-white rounded-lg sm:p-8">
            <div class="flex items-center justify-between mb-4">
              <img
                :src="
                  'https://3funding.ajakjago.com/storage/' + campaign.banner
                "
                class="w-full p-1 md:h-96"
                alt=""
              />
            </div>
          </div>
          <div
            class="w-full md:w-1/2 max-w-full p-4 bg-white rounded-lg sm:p-8"
          >
            <div class="flex items-center justify-between mb-4">
              <h5 class="text-lg font-bold leading-none text-dark">
                Detail Campaign
              </h5>
            </div>
            <div class="w-full mt-4 mb-4 border-t border-gray-300"></div>
            <div class="flow-root">
              <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left">
                  <tbody>
                    <tr class="bg-white">
                      <th
                        scope="row"
                        class="py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        Judul Campaign :
                        <span class="text-gray-500 font-normal"
                          >{{ campaign.judul_campain }} &nbsp;</span
                        >
                        <span
                          :class="{
                            'bg-green-100 text-green-800':
                              campaign.status === 'Published',
                            'bg-red-100 text-red-800':
                              campaign.status === 'Closed',
                            'bg-yellow-100 text-yellow-800':
                              campaign.status !== 'Published' &&
                              campaign.status !== 'Closed',
                          }"
                          class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded"
                          >{{ campaign.status }}</span
                        >
                      </th>
                    </tr>
                    <tr class="bg-white">
                      <th scope="row" class="py-2 font-medium text-gray-900">
                        Deskripsi Campaign :
                        <span class="text-gray-500 font-normal">{{
                          campaign.deskripsi
                        }}</span>
                      </th>
                    </tr>
                    <tr class="bg-white">
                      <th
                        scope="row"
                        class="py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        Tanggal Pengajuan :
                        <span class="text-gray-500 font-normal">{{
                          moment(campaign.created_at).format("DD-MM-YYYY")
                        }}</span>
                      </th>
                    </tr>
                    <tr class="bg-white">
                      <th
                        scope="row"
                        class="py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        Target Campaign :
                        <span class="text-gray-500 font-normal">
                          Rp.{{ campaign.target }}</span
                        >
                      </th>
                    </tr>
                    <tr class="bg-white">
                      <th
                        scope="row"
                        class="py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        Pencairan Dana :
                        <span class="text-gray-500 font-normal">
                          {{ campaign.no_rekening }} [
                          {{ campaign.payment_method }} ]</span
                        >
                      </th>
                    </tr>
                    <tr class="flex justify-center">
                      <a
                        :href="`https://3funding.ajakjago.com/api/req-campains/download-proposal/${id}`"
                        class="bg-primary hover:opacity-80 text-white p-4 my-6 rounded-md inline-flex"
                      >
                        Download Proposal
                        <svg
                          class="w-5 h-5 ml-2"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M17 17H17.01M17.4 14H18C18.9319 14 19.3978 14 19.7654 14.1522C20.2554 14.3552 20.6448 14.7446 20.8478 15.2346C21 15.6022 21 16.0681 21 17C21 17.9319 21 18.3978 20.8478 18.7654C20.6448 19.2554 20.2554 19.6448 19.7654 19.8478C19.3978 20 18.9319 20 18 20H6C5.06812 20 4.60218 20 4.23463 19.8478C3.74458 19.6448 3.35523 19.2554 3.15224 18.7654C3 18.3978 3 17.9319 3 17C3 16.0681 3 15.6022 3.15224 15.2346C3.35523 14.7446 3.74458 14.3552 4.23463 14.1522C4.60218 14 5.06812 14 6 14H6.6M12 15V4M12 15L9 12M12 15L15 12"
                            stroke="#000000"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </a>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import { useRoute } from "vue-router"
import moment from "moment"

export default {
  data() {
    return {
      campaign: {},
      id: null,
      moment: moment,
    }
  },
  beforeMount() {
    this.id = useRoute().params.id
  },
  async mounted() {
    await this.getData()
  },
  methods: {
    async getData() {
      const respose = await axios.get(
        "https://3funding.ajakjago.com/api/req-campain/" + this.id
      )
      this.campaign = respose.data.data
    },
  },
}
</script>

<style></style>
