<template>
  <FormPerkembangan></FormPerkembangan>
</template>

<script>
import FormPerkembangan from "../../components/Dashboard/FormPerkembangan.vue"

export default {
  components: {
    FormPerkembangan,
  },
}
</script>

<style></style>
