<template>
  <FormPencairan></FormPencairan>
</template>

<script>
import FormPencairan from "../../components/Dashboard/FormPencairan.vue"

export default {
  components: {
    FormPencairan,
  },
}
</script>

<style></style>
