<template>
  <HomeComponent></HomeComponent>
</template>

<script>
import HomeComponent from "../../components/Dashboard/Home.vue"
export default {
  components: {
    HomeComponent,
  },
}
</script>

<style></style>
