<template>
  <Navbar></Navbar>
  <router-view></router-view>
</template>

<script>
import Navbar from "../../components/Dashboard/Navbar.vue"

export default {
  components: {
    Navbar,
  },
}
</script>

<style></style>
