<template>
  <TableTransaction></TableTransaction>
</template>

<script>
import TableTransaction from "../../components/Dashboard/TableTransaction.vue"

export default {
  components: {
    TableTransaction,
  },
}
</script>

<style></style>
