<template>
  <section id="description" class="py-10 pt-16 relative">
    <div class="container flex px-5 md:px-0 gap-x-3">
      <div
        class="w-40 h-40 bg-primary absolute md:left-1/4 -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
      ></div>
      <div
        class="w-1/4 flex justify-center items-start animate__animated animate__bounce ease-in-out"
      >
        <img src="../../assets/images/icon3funding.png" alt="" />
      </div>
      <div
        class="w-3/4 flex justify-center flex-col animate__animated animate__zoomInRight ease-in-out"
      >
        <h1 class="text-2xl lg:text-4xl font-semibold mb-3">3Funding</h1>
        <p class="text-gray-400 lg:text-lg">
          3Funding adalah sebuah aplikasi penggalangan dana yang memiliki peran
          dalam mendukung inovasi produk mahasiswa. Tujuan utamanya adalah
          memberikan solusi bagi mahasiswa yang memerlukan kebutuhan finansial
          tambahan untuk mengembangkan produk inovatif mereka. 3Funding hadir
          untuk mengatasi tantangan pendanaan yang seringkali menjadi hambatan
          bagi mahasiswa untuk mengekspresikan ide mereka. Aplikasi ini
          memungkinkan para pengguna untuk mengumpulkan dana dari berbagai
          sumber yang luas.3Funding membantu masyarakat luas memahami banyak
          ide-ide brilian diluar sana yang perlu dibantu untuk diwujudkan.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style></style>
