<template>
  <header>
    <div
      class="w-full md:h-72 py-20 md:py-10 bg-cover flex justify-center items-center hero_banner"
    >
      <div class="text-white text-center">
        <p class="text-base md:text-lg font-semibold mb-5">
          Beranda / Tentang Kami
        </p>
        <h2 class="text-4xl md:text-5xl font-bold">Tentang Kami</h2>
      </div>
    </div>
  </header>
</template>

<script>
export default {}
</script>

<style scopped>
.hero_banner {
  background: url(../../assets/images/tentangkami/banner_hero.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.3);
  background-position: center;
}
</style>
