<template>
  <section id="team" class="py-10 relative">
    <div class="container">
      <div
        class="w-40 h-40 bg-primary absolute left-1/3 lg:left-1/2 -z-10 blur-3xl opacity-40 rounded-full overflow-hidden"
      ></div>
      <h2 class="text-center text-4xl text-primary font-semibold capitalize">
        TEAM
      </h2>

      <div
        class="w-full flex flex-wrap justify-center lg:justify-normal gap-y-5 lg:gap-y-0 py-10 animate__animated animate__pulse"
      >
        <div
          class="md:w-1/3 md:px-2 lg:px-7"
          v-for="user in teams"
          :key="user.name"
        >
          <div class="w-full">
            <div
              class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div class="flex flex-col items-center p-14">
                <img
                  class="w-24 h-24 mb-3 rounded-full shadow-lg"
                  :src="user.image"
                />
                <h5
                  class="mb-1 text-xl md:text-base md:text-center lg:text-left lg:text-xl font-medium text-gray-900 dark:text-white"
                >
                  {{ user.name }}
                </h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">{{
                  user.position
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import userImage from "../../assets/images/tentangkami/logo_user.png"

export default {
  data() {
    return {
      teams: [
        {
          name: "M Iqbal Rahmatullah",
          image: userImage,
          position: "Owner",
        },
        {
          name: "Gede Hari Yoga Nanda",
          image: userImage,
          position: "Owner",
        },
        {
          name: "Handaru Dwiki Yunantara",
          image: userImage,
          position: "Owner",
        },
      ],
    }
  },
}
</script>

<style></style>
