<template>
  <router-view></router-view>
</template>

<script>
import NavbarComponent from "./components/Navbar.vue"
import Footer from "./components/Footer.vue"

export default {
  name: "App",
  components: {
    NavbarComponent,
    Footer,
  },
}
</script>

<style></style>
